body, html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  height: 80%;
  width: 100%;
  position: relative;
}

.card-img {
  overflow: hidden;
  width: 1500px;
}

.card-list {
  display: flex;
  transition: transform 0.3s ease-in-out;
  padding: 20px;
}

.card-item {
  height: 500px;
  width: 500px;
  background-color: blue;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: circle;
  color: white;
  font-size: 24px;
}

.card-item:hover {
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}

button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
}

#prevBtn {
  left: 10px;
}

#nextBtn {
  right: 10px;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* จุดแสดงตำแหน่ง */
.pagination {
  text-align: center;
  margin-top: 10px;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease-in-out;
}

.dot.active {
  background-color: red;
}
