<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>แผนที่อาคาร</title>
    <link rel="stylesheet" href="/static/project.css">

    <!-- เชื่อมต่อกับ Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <!-- Leaflet Routing Machine -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.css" />
    <script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>

<body>
    <div class="main">
        <div class="top-part">
            <div class="logo">
                <a href="/templates/home.html" target="_self" rel="noopener noreferrer">
                    <img src="/static/img/64a3fe3230eb9.png" alt="Logo">
                </a>
            </div>
            <div class="list-tower">
                <div class="tower21">
                    <a class="tower" href="#" id="T16">อาคาร 21 <i class="fas fa-caret-down"></i></a>
                    <div class="dropdown-content">
                        <a href="#" id="floor1" data-building="tower21" data-floor="1"> Floor 1</a>
                        <a href="#" id="floor2" data-building="tower21" data-floor="2"> Floor 2</a>
                        <a href="#" id="floor3" data-building="tower21" data-floor="3"> Floor 3</a>
                    </div>
                </div>
                <div class="tower21">
                    <a class="tower" href="#" id="T16">อาคาร 20 <i class="fas fa-caret-down"></i></a>
                    <div class="dropdown-content">
                        <a href="#" id="floor1" data-building="tower20" data-floor="1"> Floor 1</a>
                        <a href="#" id="floor2" data-building="tower20" data-floor="2"> Floor 2</a>
                        <a href="#" id="floor3" data-building="tower20" data-floor="3"> Floor 3</a>
                    </div>
                </div>
                <div class="tower21">
                    <a class="tower" href="#" id="T16">อาคาร 19 <i class="fas fa-caret-down"></i></a>
                    <div class="dropdown-content">
                        <a href="#" id="floor1" data-building="tower19" data-floor="1"> Floor 1</a>
                        <a href="#" id="floor2" data-building="tower19" data-floor="2"> Floor 2</a>
                        <a href="#" id="floor3" data-building="tower19" data-floor="3"> Floor 3</a>
                    </div>
                </div>
                <div class="tower21">
                    <a class="tower" href="#" id="T16">อาคาร 18 <i class="fas fa-caret-down"></i></a>
                    <div class="dropdown-content">
                        <a href="#" id="floor1" data-building="tower18" data-floor="1"> Floor 1</a>
                        <a href="#" id="floor2" data-building="tower18" data-floor="2"> Floor 2</a>
                        <a href="#" id="floor3" data-building="tower18" data-floor="3"> Floor 3</a>
                    </div>
                </div>
                <div class="tower21" id="T17">
                    <a class="tower" href="#" id="T16">อาคาร 17 <i class="fas fa-caret-down"></i></a>
                    <div class="dropdown-content">
                        <a href="#" id="floor1" data-building="tower17" data-floor="1"> Floor 1</a>
                        <a href="#" id="floor2" data-building="tower17" data-floor="2"> Floor 2</a>
                        <a href="#" id="floor3" data-building="tower17" data-floor="3"> Floor 3</a>
                        <a href="#" id="floor4" data-building="tower17" data-floor="4"> Floor 4</a>
                        <a href="#" id="floor5" data-building="tower17" data-floor="5"> Floor 5</a>
                        <a href="#" id="floor6" data-building="tower17" data-floor="6"> Floor 6</a>
                        <a href="#" id="floor7" data-building="tower17" data-floor="7"> Floor 7</a>
                        <a href="#" id="floor8" data-building="tower17" data-floor="8"> Floor 8</a>
                        <a href="#" id="floor9" data-building="tower17" data-floor="9"> Floor 9</a>
                        <a href="#" id="floor10" data-building="tower17" data-floor="10"> Floor 10</a>
                    </div>
                </div>
                <div class="tower21">
                    <a class="tower" href="#" id="T16">อาคาร 16 <i class="fas fa-caret-down"></i></a>
                    <div class="dropdown-content">
                        <a href="#" id="floor1" data-building="tower16" data-floor="1"> Floor 1</a>
                        <a href="#" id="floor2" data-building="tower16" data-floor="2"> Floor 2</a>
                        <a href="#" id="floor3" data-building="tower16" data-floor="3"> Floor 3</a>
                        <a href="#" id="floor1" data-building="tower16" data-floor="4"> Floor 4</a>
                        <a href="#" id="floor2" data-building="tower16" data-floor="5"> Floor 5</a>
                        <a href="#" id="floor3" data-building="tower16" data-floor="6"> Floor 6</a>

                    </div>
                </div>


            </div>
            <div class="DateContainer">
                <div class="Date">
                    <span id="Days">Day: </span>
                    <span id="Months">Month: </span>
                    <span id="Years">Year</span>
                </div>
                <div class="clock">
                    <span id="hours">00</span>
                    <span>:</span>
                    <span id="minutes">00</span>
                    <span>:</span>
                    <span id="seconds">00</span>
                </div>
            </div>
        </div>
        <div class="bottom-part">
            <div class="Side-part">
                <div class="seaarch-container">
                    <form action="" class="search-field">
                        <input type="search" placeholder="ค้นหาสถานที่ที่ต้องการไป">
                        <i class="fas fa-map-marked-alt" id="icon-maps"></i>
                        <button class="search-bt"><i class="fas fa-search"></i></button>
                    </form>
                    <div class="search-history" id="searchHistory">History Search</div>
                </div>
            </div>
            <div class="map-part">
                <div class="container-part">
                    <div class="top-part-in">
                        <img src="/static/img/Main_logo.png" alt="" srcset="" style="width: 600px;;">
                    </div>
                    <div class="bottom-part-in">
                        <img src="/static/img/rmutsb-daigram.png" alt="" srcset="" style="width: 1000px;">
                    </div>
                </div>




                <!-- <p>🔹 คลิกบนแผนที่เพื่อเลือก <b>จุดเริ่มต้น</b></p>
                <p>จุดเริ่มต้น: <span id="start-coords">ยังไม่เลือก</span></p>

                <label for="end">เลือกจุดปลายทาง:</label>
                <select id="end">
                    {% for name in building_entries.keys() %}
                    <option value="{{ name }}">{{ name }}</option>
                    {% endfor %}
                </select>

                <button onclick="findRoute()" class="btn-nav"><i class="fas fa-directions" style="font-size: 30px;"></i></button>
                <div id="map"></div> -->
                <div class="sliding-info">

                    info tower
                </div>
            </div>

        </div>
    </div>


</body>
<script src="/static/Script/clock.js"></script>
<script src="/static/Script/date.js"></script>
<script src="/static/Script/search_his.js"></script>
<script src="/static/Script/sliding_diagram.js"></script>
<script src="/static/Script/sliding.js"></script>
<script src="/static/Script/test.js"></script>
<!-- <script src="/static/Script/map_api.js"></script> -->
<script>
    const footways = JSON.parse('{{ footways|safe }}');

    const map = L.map('map', {
        center: [13.868404, 100.482293],
        zoom: 18,
        dragging: false,
        scrollWheelZoom: false,
        doubleClickZoom: false
    });


    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© OpenStreetMap contributors'
    }).addTo(map);

    // footways.forEach(footway => {
    //     L.polyline(footway, {
    //         color: 'green',
    //         weight: 3,
    //         opacity: 0.7
    //     }).addTo(map);
    // });

    let startMarker = null;
    let startCoords = null;

    map.on('click', function (e) {
        if (startMarker) {
            map.removeLayer(startMarker);
        }
        startCoords = [e.latlng.lat, e.latlng.lng];
        startMarker = L.marker(startCoords).addTo(map).bindPopup("จุดเริ่มต้น").openPopup();
        document.getElementById("start-coords").innerText = `${startCoords[0].toFixed(6)}, ${startCoords[1].toFixed(6)}`;
    });

    let routeLayer;

    function findRoute() {
        if (!startCoords) {
            alert("กรุณาคลิกเลือกจุดเริ่มต้นบนแผนที่!");
            return;
        }

        const end = document.getElementById('end').value;

        fetch('/route', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ start: startCoords, end: end })
        })
            .then(response => response.json())
            .then(data => {
                if (routeLayer) map.removeLayer(routeLayer);
                routeLayer = L.polyline(data.path_coords, { color: 'green', weight: 5 }).addTo(map);
            });
    }
</script>

</html>